<!DOCTYPE html>
<html>
<head>
	<title>Hello App</title>
	<% stylesheet_link_tag "master", media: "all" %>
</head>
<h1>Rachael presents an app called:</h1>
<body>
	this is my background
</body>
</html>