
<div class="row">
    <h1>How do you say?</h1>
</div>
<div class="row">
	<h2><%= @greeting.usergreeting %></h2>
	<h2>-<%= @greeting.initials %></h2>
	<div class="col-xs-3 col-xs-offset-9 links">
	<%= link_to 'Click for more!', root_path %>
	</div>
</div>

  




